<div class="py-8 px-16">
  <div class="max-w-6xl mx-auto bg-green px-16 rounded-lg">
    <div>
      <h1 class="font-bold  text-9xl  text-yellow text-center py-10 mx-5 my-8 ">My Rake</h1>
    </div>
    <div class="text-4xl text-yellow text-center pb-8">
      <p>自分のオリジナルのラケットを投稿しよう</p>
    </div>
  </div>
</div>